{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">4
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div id="creatreg">
                <h1 style="color: green;">Create Account</h1><br>
                
                <input type="text" placeholder="username" id="inp"><br><br>
                <input type="password" placeholder="password" id="inp"><br><br>
                
                    <div id="regbtn">
                    <button type="button" class="btn btn-outline-success">Submit</button>
                    </div>   
        </div>            
   </form>   
 
</body>
</html>